
.intro {
  color: cornflowerblue;
  font-weight: bold;
}

h2.intro {
  font-weight: bold;
}

img.intro {
  width: 30%;
  float: right;
  margin: 12px;
  border: 2px solid grey
}

img.dutchbros {
  width: 30%;
  float: left;
  margin: 12px;
  border: 2px solid paleturquoise
}

p.intro {
  font-size: larger;
}

body  {
  font-family: fantasy;
  margin: 16px;
  color: grey
}

.dog {
  font-size: larger;
  color:green;
}

.sidebar {
  width: 25%;
  margin: 12px;
  border: 6px;
  padding: 6px;
  float: left;
  background-color: paleturquoise;
}

.good-luck {
  width: 50%;
  font-weight: 900;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}